body {
  font-family: "Ubuntu", sans-serif;
}

.header {
  margin: auto;
  background-color: pink;
  border-radius: 10px;
  width: 80%;
}

h1 {
  padding: 50px;
  color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 80%;
  border: 2px solid lightgray;
  border-radius: 10px;
  text-align: center;
}

.font-container {
  display: flex;
  flex-wrap: wrap;
  align-content: top;
  justify-content: center;
  text-align: left;
}

.font-display {
  padding: 10px;
  margin: 0 40px 0 0;
  font-size: 23px;
}

h2 {
  background-color: lightgray;
  padding-left: 50px;
  font-weight: 500;
  text-align: left;
}

.color-tile {
  display: inline-block;
  width: 30%;
  padding: 15px;
  margin: 0 3px 10px 3px;
  text-align: center;
}

#slime-green {
  background-color: #70ff75;
}

#dark-green {
  background-color: #3e7840;
}

#grey-green {
  background-color: #566656;
}

#light-grey {
  background-color: #b3b3b3;
}

#fade-yellow {
  background-color: #f7ff82;
}

#Yanone {
  font-family: "Yanone Kaffeesatz";
}

#Comfortaa {
  font-family: "Comfortaa", cursive;
}

#Roboto {
  font-family: "Roboto", sans-serif;
}

.text-style-display {
  display: inline-block;
  align-content: top;
  margin: 0 50px 50px 50px;
}

.text-style-display ul {
  text-align: left;
  font-weight: 300;
}

#text-style-h1 {
  padding: 15px 10px 5px 15px;
  color: black;
  font-family: Roboto;
  font-weight: 900;
  font-size: 36px;
  text-align: left;
}

#text-style-h2 {
  background-color: white;
  padding: 15px 10px 5px 15px;
  color: black;
  font-family: Comfortaa;
  font-weight: 500;
  font-size: 26px;
  text-align: left;
}

#text-style-p {
  padding: 15px 10px 5px 15px;
  font-family: Comfortaa;
  font-weight: 300;
  font-size: 18;
  text-align: left;
}

#text-style-container {
  margin-bottom: 40px;
}
