body {
  font-family: "Ubuntu", sans-serif;
}

.header {
  margin: auto;
  background-color: pink;
  border-radius: 10px;
  width: 80%;
}

h1 {
  padding: 50px;
  color: white;
}

.color {
  margin: auto;
  width: 80%;
  border: 2px solid lightgray;
  border-radius: 10px;
}

h2 {
  padding-left: 50px;
  font-weight: 500;
}
